
Debug/
Release/
Inc/Backup
Src/Backup

.cproject

# IAR Settings  
**/settings/*.crun
**/settings/*.dbgdt
**/settings/*.cspy
**/settings/*.cspy.*
**/settings/*.xcl
**/settings/*.dni
**/settings/*.wsdt
**/settings/*.wspos

# IAR Trash
EWARM/*.dep
**/settings/*.dnx
BuildLog.log
**/List/*.map

# IAR Debug Exe  
**/Exe/*.sim
**/Exe/*.out
**/List/*.map

# IAR Debug Obj  
**/Obj/*.pbi
**/Obj/*.pbi.*
**/Obj/*.pbd
**/Obj/*.pbd.*
**/Obj/*.o
